.nav {
    background-color: var(--clr-primary);
    padding-block: clamp(1rem, 5%, 2.8rem);
    color: var(--clr-text);
    font-size: var(--fs--100);
}

.nav ul {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    padding-inline-start: 0;
}

.nav ul li:hover {
    color: initial;
    transition: color 500ms ease;
}
