

.wrapper {
    --box-height: 3rem;
    --box-radius: 0.5rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.fieldset {
    display: grid;
    place-content: center;
    padding: 2rem 1.8rem;
    background-color: var(--clr-primary);
    border-radius: var(--box-radius);
    border: 1px solid transparent;
}

.fieldset label {
    display: inline-flex;
    justify-content: space-around;
    margin-block: 1.3rem;
}

.fieldset input {
    --size: 1.6rem;

    accent-color: var(--clr-secondary);
    inline-size: var(--size);
}

.fieldset span {
    order: 1;
    margin-inline: max(2rem, 3vw);
    font-size: var(--fs-100);
}

.select {
    font-size: var(--fs-100);
    font-weight: bold;
}

.form input,
.select {
    height: var(--box-height);
    width: 100%;
    margin-block: 0.5rem;
    padding-inline: 0.8rem;
    border: 1px solid var(--clr-primary);
    border-radius: var(--box-radius);
}

.form {
    width: 40ch;
}

.form>*+* {
    margin-block: 1rem;
}

.form * + * {
    display: block;
}

.form label {
    color: var(--clr-primary);
    font-weight: bold;
}


.form textarea {
    font-family: inherit;
    width: 100%;
    height: calc(var(--box-height) * 2.5);
    border-radius: var(--box-radius);
    background-color: var(--clr-primary);
    color: var(--clr-text);
    padding: 1rem 1.5rem;
}

.form textarea::placeholder {
    color: var(--clr-text);
    font-style: italic;
}


.form button {
    margin-inline: auto;
    padding: 0.8rem 3rem;
    background-color: var(--clr-secondary);
    color: var(--clr-text);
    border: 1px solid transparent;
    border-radius: var(--box-radius);
    font-weight: bold;
}


/* label,
  input,
  textarea
  button,
  select{
    font-size: 1.3rem;
    line-height: 1.2
  }
  
  form {
    width: 30em;
    max-width: 90%;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 0.4rem;
    display: block;
  }
  
  input,
  textarea {
    padding: 0.4rem;
    width: 100%;
  }
  
  button {
    margin-top: 2rem;
  } */